


docs/code_test.ipynb
docs/code_for_save.py
docs/test.py

src/gal3d.egg-info

**/__pycache__

**/gal3d.log
**/*.so
**/*cy.cpp

tests/test_data
**/.coverage

.venv
.pytest_cache
dist/
build/
.VSCodeCounter