

# Sphinx documentation
docs/source/reference/_autosummary/*

# Unit test / coverage reports
htmlcov/
tests/test_data
**/.coverage
.pytest_cache
out/

# Byte-compiled 
**/__pycache__

# C extensions
**/*.so

# Cython generated C/C++ files
src/gal3d/visualization/render_wrapper.cpp
**/*cy.cpp
**/*cy.c


# PyInstaller or Distribution
dist/
build/

src/gal3d.egg-info



# Jupyter Notebook
**/*.ipynb
!docs/source/**/*.ipynb

docs/locales/**/*.mo

# runtime logs
**/gal3d.log

# Environments
.venv


# VSCode project settings
.VSCodeCounter

# mypy
.mypy_cache

# ruff
.ruff_cache