@import url("basic.css");


div.body h1 { margin-top: 0; padding-top: 0; font-size: 150%; font-weight: bold; }
div.body h2 { font-size: 130%; font-weight: bold; }
div.body h3 { font-size: 105%; font-weight: bold; }
div.body h4 { font-size: 102%; font-weight: normal; }
div.body h5 { font-size: 100%; font-weight: normal; }
div.body h6 { font-size: 100%; font-weight: normal; }